     @import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600&family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&display=swap');

        /* Variables */
        :root{
            --primary-colour : #5924ed;
            --secoundary-black: #0d081a;
            --secoundary--grey:#48464b;
            --body-bg: #efebfa;
            
        }
        /* GLOBAL STYLES */
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }
        html
        {
        font-family: 'Roboto Mono', sans-serif;
        font-size: 10px;
        scroll-behavior: smooth;
        }
        body{
            background-color: var(--body-bg);
        }
        img{
            width: 100%;
            height: 100%;
        }
        a{
            color: black;
            text-decoration: none;
        }
        p{
            font-size:2rem ;
            color: var(--secoundary-black);
        }
        section{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container{
            width: 90%;
            height: 100%;
            margin:0 auto; 
            max-width: 1000px;
        }
        .primary-btn{
            display: inline-block;
            background-color: var(--primary-colour);
            color:white;
            font-size: 1.5rem;
            padding: 0.6em 1.6em;
            border-radius: 50px;

        }
        .buttons{
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
        }
        .buttons svg{
            width: 50px;
            color: var(--primary-colour);
        }
        .section-heading{
            font-size: clamp(2rem, 10vw, 8rem);
            text-transform: uppercase;
            font-family: 'Montserrat';
            letter-spacing: 0.2rem;
            text-align: center;
            position: relative;
            margin-bottom: 10rem;
        }
        .section-heading::before {
            content: attr(data-outline);
            position: absolute;
            left: 2%;
            top: -20%;
            width: 100%;
            text-align: center;
            font-family: 'Montserrat';
            letter-spacing: 0.2rem;
            color: transparent;
            -webkit-text-stroke: 1.5px #5a24ed2f;
            z-index: -1;
        }
        /* scroll Top/Up Button */
        .scroll-top {
            z-index: 100;
            height: 60px;
            width: 60px;
            background-color: white;
            position: fixed;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0px 0px 20px rgba(71, 40, 182, 0.226);
            /* hover effect default */
            transform: scale(0.9);
            transition: 0.3s ease-in-out transform;
            /* for centering the icon */
            /* display: flex; */
            display: none;
            align-items: center;
            justify-content: center;
        }
        .scroll-top svg {
            width: 50%;
            color: black;
            pointer-events: none;
        }

        .scroll-top:hover {
            transform: scale(1);
        }

        /* Navigation Section */
        #navigation {
            position: fixed;
            right: 30px;
            height: auto;
            top: 20px;
            z-index: 100;
        }
        #navigation .nav-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color:rgb(73, 73, 146);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #navigation .nav-icon svg {
            width: 80%;
            color: white;
        
        }
        #nav-content {
            position: fixed;
            right: 0;
            width: 80%;
            max-width: 800px;
            height: 100%;
            z-index: 100;
            background-color: rgb(33, 33, 99);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transform: translateX(100%);
            transition: 0.3s ease transform;
        }
        #nav-content.show{
            transform: translateX(0);
            box-shadow: -6px 0px 29px 7px #000000a3;
        }
        #nav-content .section-heading {
            text-align: left;
        }
        #nav-content .section-heading::before {
            content: 'Menu';
            text-align: left;
            -webkit-text-stroke: 1.5px #afadad25;
        }
        #nav-content .wrapper {
            width: 70%;
            position: relative;
        }
        #nav-content ul {
            list-style: none;
            text-align: left;
        }
        #nav-content ul li {
            margin-bottom: 2rem;
        }
        #nav-content ul li a {
            display: inline-block;
            width: 100%;
            color: white;
            font-size: 5rem;
            font-family: 'Montserrat',sans-serif;
            /* position: relative; */
        }
        #nav-content ul li a::after {
            content: attr(data-text);
            pointer-events: none;
            position: absolute;
            right: -150px;
            bottom: 50%;
            width: 100%;
            color: transparent;
            -webkit-text-stroke: 1.5px #afadad25;
            opacity: 0;
            transition: 0.3s ease;
            transition-property: opacity, transform;
            z-index: -1;
            text-align: center;
            transform: rotate(90deg) scale(3);
            transition: 0.3s ease;
            transition-property: opacity, transform;
        }
        #nav-content ul li a:hover::after {
            opacity: 1;
            transform: scale(3) translateY(10px) rotate(90deg);
        }
        #nav-content .close-btn {
            position: absolute;
            left: 10px;
            top: 10px;
            color: white;
            width: 40px;
            height: 40px;
            background-color: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s ease background-color;
        }
        #nav-content .close-btn svg {
            width: 80%;
        }
        #nav-content .close-btn:hover {
            background-color: crimson;
        }
        @media only screen and (max-width: 768px) {
            #navigation {
                right: 10px;
                top: 10px;
            }
            #nav-content nav ul li a::after {
                display: none;
            }
            #nav-content .section-heading {
                text-align: right;
                margin-bottom: 5rem;
            }
            #nav-content .section-heading::before {
                text-align: right;
            }
            #nav-content nav ul {
                text-align: right;
            }
            #nav-content nav ul li a {
                font-size: 2.5rem;
            }
            #nav-content .wrapper {
                width: 90%;
            }
        }


        /* Hero section style */
        #hero{
            height: 100vh;
            width:100%;
            padding-top: 10rem;
            
        }
        #hero .container{
            display:flex;
            align-items: center;
            justify-content: center;    
        }
        #hero .container .left{
            flex: 6;
        }
        #hero .container .right{
            flex: 8;
        }
        #hero .left .subheading{
            font-size: 2.5rem;
            font-weight:500;
            text-transform: uppercase;
            color: var(--primary-colour);
            opacity: 0;
            animation: fade .3s ease-in forwards;
            animation-delay: 1s;
        }
        #hero .left .heading {
            font-size: 6rem;
            font-family: 'Montserrat',sans-serif ;
            font-weight: 900;
        }
        #hero .left .heading .wrapper{
            display: inline-block;
            overflow: hidden;
        }
        #hero .left .heading .wrapper span{
            position: relative;
            bottom: -70px;
            animation: reveal 3s ease-in-out forwards;
        }
        @keyframes reveal{
            0%{
                bottom: -70px;
            }
            100%{
                bottom: 0;
            }
        }
        @keyframes fade{
            0%{
                opacity:0;
            }
            100%{
                opacity: 1;
            }
        }
        #hero .left .desc{
            margin-top: 2.5rem;
            max-width: 400px;
            opacity: 0;
            animation: fade .3s ease-in forwards;
            animation-delay: 1s;
        }
        #hero .buttons{
            opacity: 0;
            animation: fade .3s ease-in forwards;
            animation-delay: 1s;
        }
        #hero .right{
            text-align: right;
        }
        #hero .right img{
            width: 100%;
            max-width: 450px;
            height: 600px;
            object-fit: cover;
            object-position: 50% 30%;
            border-radius: 12px;
        }
        @media only screen and (max-width: 768px)
        {
            html{
                font-size: 9px;
            }
            #hero .container{
                flex-direction: column-reverse;
            }

            #hero .container .right{
                text-align: centre;
                flex: 1;
                margin-bottom: 2rem;
            }
            #hero .right img{
                width: 100%;
                height: 400px;
            }
            #hero .container .left{
                text-align : center ;
                padding-right: 0;
                flex: 1;
                height: fit-content;
            }
            #hero .container .buttons {
                justify-content: center;
            }
            #hero .container .left .heading{
                font-size: 4rem;
                margin: 0 auto;
            }
            #hero .container .left .desc{
                margin: 0 auto;
                margin-top: 2rem ;

            }
        }
        @media only screen and  (max-width: 950px) {
            #hero .container .right{
                flex: 6 ;
            }
        }

        /* Sevices section */
        #services{
            padding: 15rem 0;

        }
        #services .allitems{
            display: flex;
            align-items: center;
            justify-content: center;

        }
        #services .item{
            padding: 1.5rem;
            border-radius:12px   ;
        }
        #services .item:nth-child(1):hover{
            background-color: rgba(8, 70, 241, 35%);
            
        }
        #services .item:nth-child(2):hover{
            background-color: rgba(0 255 115 / 0.493);

        }
        #services .item:nth-child(3):hover{
            background-color: #6b5d9093 ;
        }
        #services .item .icon{
            width: 50px;
            height: 50px;
            padding: 0.8rem;
            /*background-color: red;*/
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        #services .item-heading{
            font-weight: 750;
            font-size: 2rem ;
            font-family: 'poppins',sans-serif;
            margin-bottom: 1.5rem;
        }
        #services .item-desc{
            color: var(--secoundary--grey);
        }
        #services .item:nth-child(1) .icon{
            background-color: rgb(7 106 225 / 37%);
        }
        #services .item:nth-child(2) .icon{
            background-color: rgba(0 255 115 / 0.493);
        }
        #services .item:nth-child(3) .icon{
            background-color: #4705fc80;
        }
        @media only screen and (max-width: 768px) {
            #services .allitems {
                flex-direction: column;
                text-align: center;

            }
            #services .item .icon {
                margin: 0 auto;
                margin-bottom: 1 rem;

            }
            #services .item {
                margin: 2rem 0;
            }
            #services .item:nth-child(1){
                background-color: rgba(8, 70, 241, 35%);
                
            }
            #services .item:nth-child(2){
                background-color: rgba(0 255 115 / 0.493);
            
            }
            #services .item:nth-child(3){
                background-color: #6b5d9093 ;
            }
        }
        /* About section */
        #About{
            padding: 15rem 0;
        }    
        #About .wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
        #About .left{
            padding:2rem;
            text-align: center;
        }
        #About .left .card{
            box-shadow: 0px 0px 20px #4705fc33;
            padding: 3rem;
            border-radius: 12px;
            min-height: 400px;
        }
        #About .left .card .img{
            width: 70px;
            height: 70px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 2rem;
        }
        #About .left .card .img img{
            object-fit: cover;
        }
        #About .left .card .card-desc{
            color: var(--secoundary--grey);
            margin-bottom: 2rem;
        }
        #About .left .card .card-name{
            font-size: 2rem;
            margin-bottom: 0.2rem;
        }
        #about .left .card .card-sub-title{
            font-size: 1.4rem;

        }
        #About .subheading{
            color: var(--primary-colour);
            margin-bottom: 1rem;
        }
        #About .right .slogan{
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        #About .right .right-text{
            color: var(--secoundary--grey);
        }
        @media only screen and (max-width: 768px){
            #About .wrapper{
                flex-direction: column-reverse;
                text-align: center;
            }
            #About .right .buttons{
                flex-direction: column;
            }
            #About .right .buttons a{
                width: 100%;
                text-align: center;
            }
        }
        /*project section style*/
        #project{
            padding: 10rem 0;
        }
        #project .item{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 15rem;
        }
        #project .item:nth-child(even){
            flex-direction: row-reverse;
        }
        #project .item .left{
            flex: 1;    
        }
        #project .item .right{
            flex: 1; 
            margin-left: -150px;   
            background-color: var(--body-bg);
            border-radius: 12px;
            box-shadow: 0 0 20px #00000028;
            z-index: 2;
        } 
        #project .item:nth-child(even) .right{
            margin-left: 0;
        }
        #project .item:nth-child(even) .left{
            margin-left:  -150px; 
        }
        #project .item .left .img{
            height: 500px;
            overflow: hidden;
            border-radius: 12px;
            box-shadow: 0 0 20px #4705fc33;
            position: relative;
        }
        #project .item .left .img::after{
            position: absolute;
            content:'';
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #704dd22f;
        }
        #project .item .left .img img{
            object-fit: cover;
            transition: 0.5s ease transform;
        }
        #project .item:hover .left .img img{
            transform: scale(1.1);
            z-index: 1 ;
        }
        #project .item .right .project-title{
            font-size: 2.5rem;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 1rem;
            margin-top: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        #project .item .right .project-sub-title{
            font-size: 1.6rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        #project .item .right .project-desc{
            color: var(--secoundary--grey);
            margin-bottom: 3rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        #project .item .right .buttons{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        @media only screen and (max-width:768px) {
            #project .item{
                flex-direction: column;
            }
            #project .item .left{
                width: 100%;
            }
            #project .item .right{
                width: 98%;
                margin: 0 auto;
                margin-top: -150px;
            }
            #project .item:nth-child(even){
                flex-direction: column;
            }
            #project .item:nth-child(even) .left{
                margin-left: 0;
            }
            
        }
        @media only screen and (max-width:450px){
            #project .item .right .buttons{
                flex-direction: column;
            }
            
        }
        /* Contact Section */
        #contact {
            padding: 10rem 0;
        }
        #contact .wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 5rem;
        }
        #contact .wrapper .left {
            flex: 1;
        }
        #contact .wrapper .right {
            flex: 1;
        }
        #contact .left .contact-heading {
            font-family: 'Montserrat',sans-serif;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        #contact .left .contact-desc {
            color: var(--secondary-gray);
            margin-bottom: 4rem;
        }
        #contact .left .contact-info {
            margin-bottom: 5rem;
        }
        #contact .left .contact-info ul {
            list-style: none;
        }
        #contact .left .contact-info ul li {
            border-radius: 12px;
            overflow: hidden;
        }
        #contact .left .contact-info ul li a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            font-size: 2rem;
            padding: 1.5rem;
        }

        #contact .left .contact-info ul li:hover {
            background-color: rgb(86, 86, 151);
        }
        #contact .left .contact-info ul li:hover a{
            color: white;
        }
        #contact .left .contact-info ul li:hover .icon {
            color: white;
        }
        #contact .left .contact-info ul li a .icon {
            width: 25px;
            color: var(--primary-color);
        }
        #contact .left .contact-info ul li:hover .text {
            color: white;
        }
        #contact .left .contact-info ul li a .text {
            color: var(--secondary-gray);
        }
        #contact .left .social-info ul {
            display: flex;
            align-items: center;
            list-style: none;
            font-size: 2rem;
            gap: 2rem;
        }
        #contact .left .social-info ul li a {
            color: var(--primary-color);
        }
        #contact .right .form-wrapper {
            background-color: var(--primary-color);
            max-width: 500px;
            margin: 0 auto;
            padding: 5rem;
            border-radius: 12px;
            color :white;
        }
        #contact .right .form-group {
            margin-bottom: 1rem;
        }
        #contact .right .form-group label {
            margin-bottom: 0.5rem;
            display: inline-block;
            font-size: 1.8rem;
        }
        #contact .right .form-group .input-wrapper {
            background-color:rgb(33, 33, 99);
            color: black;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 40px;
            border-radius: 4px;
            overflow: hidden;
        }
        #contact .right .form-group .input-wrapper .icon {
            font-size: 2rem;
            height: 100%;
            width: 50px;
            background-color: rgb(218, 218, 218);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #contact .right .form-group .input-wrapper input {
            padding: 1rem;
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            font-size: 2rem;
        }
        #contact .right .form-group textarea {
            width: 100%;
            height: 250px;
            resize: vertical;
            font-size: 2rem;
            padding: 1rem;
            outline: none;
            border-radius: 4px;
        }
        #contact .right .form-wrapper button {
            display: inline-block;
            width: 150px;
            font-size: 2rem;
            text-transform: uppercase;
            height: auto;
            padding: 1rem 0;
            font-family: 'Roboto Mono',sans-serif;
            letter-spacing: 0.3rem;
            border-radius: 8px;
            outline: none;
            border: none;
            cursor: pointer;
        }
        @media only screen and (max-width: 768px) {
            #contact .wrapper {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
            #contact .right {
                width: 100%;
            }
            #contact .right .form-wrapper {
                padding: 3rem;
                width: 100%;
                max-width: 100%;
            }
        }

        /* Footer Section */
        #footer {
            background-color: #576b8f;
            color: white;
            padding: 10rem 0 5rem 0;
        }
        #footer footer {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 2rem;
        }
        #footer footer .col-1 {
            flex: 3;
        }
        #footer footer .col-2,
        #footer footer .col-3,
        #footer footer .col-4 {
            flex: 2;
        }
        #footer footer .col-4 {
            flex: 1;
        }

        #footer footer .col-1 .logo img {
            max-width: 100px;
            margin-bottom: 2rem;
        }
        #footer footer .col-1 p {
            color: white;
        }

        #footer footer .column-heading {
            font-family: 'Montserrat',sans-serif;
            font-size: 2rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
            line-height: 1.5em;
        }
        #footer footer ul {
            list-style: none;
        }
        #footer footer ul li {
            border-radius: 4px;
        }
        #footer footer ul li a {
            display: inline-block;
            width: 100%;
            color: white;
            font-size: 1.7rem;
            padding: 0.5rem;
        }
        #footer footer ul li:hover {
            background-color: rgb(53, 85, 113);
        }
        #footer footer ul li:hover a {
            color: var(--primary-color);
            
        }
        #footer footer .col-4 ul {
            display: flex;
            flex-wrap: wrap;
        }
        #footer footer .col-4 ul li a {
            min-width: 50px;
        }
        @media only screen and (max-width: 768px) {
            #footer footer {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            #footer footer .col-1,
            #footer footer .col-2,
            #footer footer .col-3,
            #footer footer .col-4 {
                width: 100%;
                margin-bottom: 3rem;
            }
            #footer footer .col-4 ul {
                width: fit-content;
                margin: 0 auto;
            }
        }

        /* copyright Section */
        #copyright {
            padding: 1rem 0;
            background-color: #2d1b5e;
        }
        #copyright p {
            color: white;
            margin: 1rem;
            font-size: 1.4rem;
        }